
SOLAR_RESOURCE_MODE=real
PVGIS_TIMEOUT=20
NASA_POWER_TIMEOUT=20
DEFAULT_CAPEX_PER_KW=55000
DEFAULT_LOAN_RATE=0.105
DEFAULT_LOAN_YEARS=7
DEFAULT_INTERRUPTION_COST_RS_KWH=40


RAAH_DB_PATH=raah.db



WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_GRAPH_VERSION=v21.0

WHATSAPP_VERIFY_TOKEN=raah-verify


WHATSAPP_APP_SECRET=

RAAH_API_KEY="5-jsnI0JuCrjlWEFkqqFoj3T-nMGzkD8BirZPm1MXYA"
RAAH_ALLOWED_ORIGINS=https://raah.vercel.app,http://localhost:5173